.page {
  min-width: 1100px;
  max-width: 1600px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
}
